<%- include("templates/header") %>

<div class="box">

    <h1>Phantom Thieves</h1>
    <br>
    <a href="/members">Welcome to the Theives Den!</a>
  <a href="/logout">Logout?</a>

</div>

<%- include("templates/footer") %>