<%- include("templates/header") %>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>Welcome to the Thieves Den!</h1>
    <form class="entry mb-3" action="/signup" method="get">
      <button class="btn btn-primary rounded-pill px-3 text-center w-50">Sign Up!</button>
    </form>
    <form class="entry" action="/login" method="get">
      <button class="btn btn-primary rounded-pill px-3 text-center w-50">Log In!</button>
    </form>
  </div>
</div>

<%- include("templates/footer") %>
